

@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    #desktop-nav{
        display: flex;
    }
    #hamburger-nav{
        display: none;
    } 
}

@media screen and (max-width: 1400px) {
    #profile{
        height: 83v;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: nowrap;
    }

  
}

@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    } 
    #experience,
    .experience-details-container{
        margin-top: 2rem;
    }
    #profile,
    .section-container{
        display: block;
    }
    .arrow{
        display: none;
    }
    section,
    .section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section__pic-profile-container{
        /* width: 275px;
        height: 275px; */
        margin:0 auto 2rem;
    }
    .about-containers{
        margin-top: 0;
    }
}

@media screen and (max-width: 1024px) {
    .project-details-container {
        flex-direction: column; /* Force the wrapping */  
    }
    .event{
        flex-direction: column;
    }
}

@media screen and (max-width:600px){
    #profile{
        height: 83vh;
        flex-wrap: wrap;
        margin:0;
    }
    #hamburger-nav{
        margin: 0 2rem;
        z-index: 3;
        position: relative;
    }
    .section__pic-profile-container{
        height: 40rem;
    }
    .section__text__p1{
        margin-bottom: 0;
        justify-content: center;
    }
    .section__text__p2{
        margin:0;
        justify-content: center;
    }
    #contact,footer{
        height: 40vh;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: no-wrap;
    }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
        
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap:0.5rem;
        text-align: center;
    }
    .section__pic-profile-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
}

@media screen and (max-width:321px) {
    .project-img{
        width: 75%;
    }
    .project-img-2{
        width: 75%;
    }
    .section__text__p1{
        animation-delay: 0.2s; /* Delay the first "Hello, I'm" */
        font-size: 1rem;
        margin:0 1rem;
    }
    .section__text h1.title{
        animation-delay: 0.2s; /* Delay the first "Hello, I'm" */
        font-size: 3rem;
        margin:0 1rem;
    }
    .section__text p.section__text__p2{
        animation-delay: 0.2s; /* Delay the first "Hello, I'm" */
        font-size: 1rem;
        margin:0 1rem;
    }
    .btn-color-2{
        font-size: 12px;
        margin-left:1rem;
    }
    section h2.title{
        font-size: 3rem;
        margin-left: 0.5rem;
    }
    .details-experience-container{
        font-size: 12px;
        text-align: left;
    }
    .article-sub-container{
        font-size: .75rem;
    }
    section#experience h1.title,
    section#projects h1.title,
    section#contact h1.title{
        font-size: 3rem;
    }
}